# Import this by adding the following to the global (user) git config
#[include]
#    path = "E:/scripts/dev/.gitconfig"
#    path = "~/projects/scripts/dev/.gitconfig"

[alias]
    co = checkout
    st = status
    br = branch
    f = fetch
    p = pull
    dt = difftool --dir-diff
    df = diff --word-diff
[fetch]
    prune = true
[core]
    editor = vim

